{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
 <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

 <link type="stylesheet"  href="{% static 'style.css' %}">
 master
 <title>input</title>
</head>
<body class="full-width flex col al-cnt">
 <div class="container flex row al-cnt">
   
<form class="flex col al-cnt" method="POST">
     <legend>Input your information</legend>
     {% csrf_token %}
     {{ form.as_p }}
<!--   <label>Month <br> <select>-->
<!--    <option value="">Month</option>-->
<!--    <option value="01">Jan</option>-->
<!--    <option value="02">Feb</option>-->
<!--    <option value="03">Mar</option>-->
<!--    <option value="04">Apr</option>-->
<!--    <option value="05">May</option>-->
<!--    <option value="06">Jun</option>-->
<!--    <option value="07">Jul</option>-->
<!--    <option value="08">Aug</option>-->
<!--    <option value="09">Sep</option>-->
<!--    <option value="10">Oct</option>-->
<!--    <option value="11">Nov</option>-->
<!--    <option value="12">Dec</option>-->
<!--   </select> </label>-->
<!--   <label>Score <br> <input type="number"> </label>-->
   <button type="submit">SUBMIT</button>
</form>

 <form class="flex col al-cnt">

    <legend>Input your information</legend>
     <label>Name of company <br> <input type="text"></label>

    <legend>Input your whatever</legend>   <label>Name of company <br> <input type="text"></label>

   <label>Month <br> <select>
    <option value="">Month</option>
    <option value="01">Jan</option>
    <option value="02">Feb</option>
    <option value="03">Mar</option>
    <option value="04">Apr</option>
    <option value="05">May</option>
    <option value="06">Jun</option>
    <option value="07">Jul</option>
    <option value="08">Aug</option>
    <option value="09">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
   </select> </label>
   <label>Score <br> <input type="number"> </label>
   <button>SUBMIT</button>
 </form>
 </div>
</body>
</html>