{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
 <title>input</title>
</head>
<body class="full-width flex col al-cnt">
 <div class="container flex row al-cnt">
 <form class="flex col al-cnt">
    <legend>Input your Company's Name</legend>
     <label>Name of company <br> <input type="text"></label>
   <button>SUBMIT</button>
 </form>
 </div>
</body>
</html>